* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Azul turquesa #4DACB1
Verde oscuro #2D4B3E
Marron tierra #9C7C5D
Azul cielo #89BBE2
Blanco #ffffff
Negro #000000
*/

header {
  background-color: #89bbe2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;
}

.logo {
  width: 7.5rem;
  height: 100%;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  padding: 1.25rem 0rem;
}

.navbar li a {
  text-decoration: none;
  color: #9C7C5D;
  font-size: 1.25rem;
  padding: .625rem 1.25rem;
  margin: 0rem .625rem;
  display: inline-block;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: space-evenly;
  padding: .625rem;
}

/* Inicio */
.bienvenida {
  background-image: url(../assets/img/jeremy-bishop-dR_q93lfaTw-unsplash.jpg);
  background-size: cover;
  padding: .625rem;
  width: 100%;
  height: 80vh;
  justify-items: center;
  align-content: center;
}

.bienvenida h1 {
  background-color: #9C7C5D;
}

.bienvenida p {
  background-color: #9C7C5D;
}

img {
  width: 50%;
}

.categorias-destacadas {
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: #89BBE2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: .625rem;
  column-gap: .625rem;
}

.categorias-destacadas h2 {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
}

.categoria-uno {
  margin: .625rem;
  padding: .625rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}

.categoria-dos {
  margin: .625rem;
  padding: .625rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}

.categoria-tres {
  margin: .625rem;
  padding: .625rem;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: self-end;
  align-self: center;
}

/* Tienda */
.tienda h1 {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.container-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
  padding: .625rem;
}

.container-cards-dos {
  display: flex;
  justify-content: space-between;
  padding: .625rem;
}

@media(max-width:1024px) {
  header {
    justify-content: space-around;
  }

  .contenedor-logo {
    justify-content: space-between;
  }
}

@media(max-width:768px) {
  header {
    flex-direction: column;
  }

  .contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:375px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:320px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}