//Pagina inicio
.categorias-destacadas {
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: map-get($color-back, fondo1);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: .625rem;
  column-gap: .625rem;



  img {
    width: 50%;
  }

  h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
  }

  .categoria-uno {
    margin: .625rem;
    padding: .625rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  .categoria-dos {
    margin: .625rem;
    padding: .625rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  .categoria-tres {
    margin: .625rem;
    padding: .625rem;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
  }
}

// Pagina Tienda
.container-cards {
  display: grid;
  width: 100%;
  background-color: map-get($color-back, fondo1);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: .625rem;
  column-gap: .625rem;

  h1 {
    grid-column: 1 / 6;
    justify-self: center;
    align-self: flex-end;
  }

  .cards-uno {
    margin: .625rem;
    padding: .625rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  .cards-dos {
    margin: .625rem;
    padding: .625rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  .cards-tres {
    margin: .625rem;
    padding: .625rem;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  .cards-cuatro {
    margin: .625rem;
    padding: .625rem;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  .cards-cinco {
    margin: .625rem;
    padding: .625rem;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  .cards-seis {
    margin: .625rem;
    padding: .625rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
  }

  .cards-siete {
    margin: .625rem;
    padding: .625rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
  }

  .cards-ocho {
    margin: .625rem;
    padding: .625rem;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
  }

  .cards-nueve {
    margin: .625rem;
    padding: .625rem;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
  }

  .cards-diez {
    margin: .625rem;
    padding: .625rem;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
  }
}

@media (max-width: 800px) {
  .categorias-destacadas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 430px) {
  .categorias-destacadas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: auto;

    h2 {
      font-size: 1.25rem;
    }

    img {
      width: 25%;
      height: auto;
      display: block;
      border-radius: .5rem;
    }

    h3 {
      font-size: .9375rem;
    }

    button {
      font-size: .625rem;
    }

    .categoria-uno {
      margin: .625rem;
      padding: .625rem;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-items: center;
    }

    .categoria-dos {
      margin: .625rem;
      padding: .625rem;
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      justify-items: center;
    }

    .categoria-tres {
      margin: .625rem;
      padding: .625rem;
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      justify-items: center;
    }
  }
}

@media (max-width: 430px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

    h1 {
      grid-column: 1 / 3;
      justify-self: center;
      align-self: flex-end;
    }

    .cards-uno {
      margin: .625rem;
      padding: .625rem;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-self: center;
      align-self: center;
    }

    .cards-dos {
      margin: .625rem;
      padding: .625rem;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: center;
      align-self: center;
    }

    .cards-tres {
      margin: .625rem;
      padding: .625rem;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      justify-self: center;
      align-self: center;
    }

    .cards-cuatro {
      margin: .625rem;
      padding: .625rem;
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      justify-self: center;
      align-self: center;
    }

    .cards-cinco {
      margin: .625rem;
      padding: .625rem;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      justify-self: center;
      align-self: center;
    }

    .cards-seis {
      margin: .625rem;
      padding: .625rem;
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      justify-self: center;
      align-self: center;
    }

    .cards-siete {
      margin: .625rem;
      padding: .625rem;
      grid-column: 1 / 2;
      grid-row: 5 / 6;
      justify-self: center;
      align-self: center;
    }

    .cards-ocho {
      margin: .625rem;
      padding: .625rem;
      grid-column: 2 / 3;
      grid-row: 5 / 6;
      justify-self: center;
      align-self: center;
    }

    .cards-nueve {
      margin: .625rem;
      padding: .625rem;
      grid-column: 1 / 2;
      grid-row: 6 / 7;
      justify-self: center;
      align-self: center;
    }

    .cards-diez {
      margin: .625rem;
      padding: .625rem;
      grid-column: 2 / 3;
      grid-row: 6 / 7;
      justify-self: center;
      align-self: center;
    }
  }
}