.bienvenida {
  background-image: url(../assets/img/bienvenida.jpg);
  background-size: cover;
  padding: .625rem;
  width: 100%;
  height: 80vh;
  justify-items: center;
  align-content: center;

  h1 {
    background-color: #9c7d5dc0;
    font-family: 'lora', serif;
  }

  p {
    background-color: #9c7d5dc0;
    font-family: 'poppins', sans-serif;
  }

  img {
    width: 50%;
  }
}

.categorias-destacadas {
  button {
    all: unset;
    padding: .3125rem .9375rem;
    margin-top: 1.25rem;
    border: .0625rem solid map-get($color-back , fondo2);
    background-color: map-get($colors , color2);
    border-radius: .625rem;
    box-shadow: .25rem .25rem .3125rem map-get($color-back , fondo2);

    &:hover {
      background-color: #B6B09F;
    }

    a {
      font-family: 'poppins', sans-serif;
      color: map-get($color-font, fuente2);

      &:hover {
        color: white;
      }
    }
  }

  img {
    border-radius: .5rem;
  }

  h2,
  h3 {
    font-family: 'lora', serif;
  }
}

@media (max-width: 800px) {
  main {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  .bienvenida {
    width: 100%;
    max-width: 100%;
    display: block;
    overflow-x: hidden;

    h1 {
      font-size: 1rem;
    }
  }

  .categorias-destacadas {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
      border-radius: .5rem;
    }
  }
}

// @media (max-width: 430px) {
//   .categorias-destacadas {}
// }