$color-back: (
  fondo1: #4DACB1,
  //Azul turquesa
  fondo2: #2D4B3E,
  //Verde oscuro
  fondo3: #89BBE2,
  //Azul cielo
);

$color-font: (
  fuente1: #ffffff,
  //Blanco
  fuente2: #000000,
  //Negro
  fuente3: #9C7C5D,
  //Marron tierra
);