.container-cards {
  button {
    all: unset;
    padding: .3125rem .9375rem;
    margin-top: 1.25rem;
    border: .0625rem solid map-get($color-back , fondo2);
    background-color: map-get($color-back , fondo3);
    border-radius: .625rem;
    box-shadow: .25rem .25rem .3125rem map-get($color-back , fondo2);
    color: map-get($color-font , fuente2);
    cursor: pointer;
  }

  img {
    width: 50%;
  }


  h1 {
    margin: .625rem;
    padding: .625rem;
    font-family: 'lora', serif;
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
  }
}