.container-cards {
  button {
    all: unset;
    padding: .3125rem .9375rem;
    margin-top: 1.25rem;
    border: .0625rem solid map-get($color-back , fondo2);
    background-color: map-get($color-back , fondo3);
    border-radius: .625rem;
    box-shadow: .25rem .25rem .3125rem map-get($color-back , fondo2);
    color: map-get($color-font , fuente2);
    cursor: pointer;
  }

  img {
    width: 50%;
  }


  h1 {
    margin: .625rem;
    padding: .625rem;
    @include flex(row, nowrap, center, center, none);
    font-family: 'lora', serif;
    background-image: radial-gradient(circle, #89bbe28c, #9c7d5d9a);
    width: 100%;
    height: auto;
  }
}